body{margin: 0;}
.page{
    max-width: 100vw;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 10px;
    
}

.both_cont{
   max-width: 100%;
   position: relative;
   padding: 0;
   z-index: 0;
}
.video_cont{
    position: relative;
   
}
.video1{
    max-width: 100%;
    height: 500px;
}
.shop_cont{
    z-index: 2;
    width: 60%;
    border: 1px solid rgb(156, 156, 156);   
    transform: translate(250px,-70px);
    height: 200px;
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
}

#header1{
    font-family: "RFFontRoman",Arial,Sans-Serif;
}
#header1~p{
     line-height: 20px;
     font-family: Arial, Helvetica, sans-serif;
}
#btn1{
    width: 220px;
    height: 42px;
    margin-top: 18px;
    font-size: 17px;
    box-shadow: 1px 2px 1px 1px silver;
    background-color: white;
    border: 1px solid  rgb(114, 114, 114);
    margin: auto;
}
#btn1:hover{
    box-shadow: none;
}
#btn1>p{
    margin-top: 11px;
}

#cont2>a>img{
    width: 100%;
    cursor: pointer;
}

#cont2{
    position: relative;
    margin-bottom: 60px;
}
#cont3{
    position: absolute;
    top: 21%;
    left: 21%;
}

#cont3>:nth-child(1){
    font-size: 29px;
    letter-spacing: 1.2px;
    line-height: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cont3>:nth-child(2){
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.4px;
}

#cont3>:nth-child(3){
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.8px;
    cursor: pointer;
   
}

#head2{
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

/* .slide_show{
    max-width: 1080px;
    position: relative;
    margin: auto;
    overflow: hidden;   
    
}

.prev,.next{
    cursor: pointer;
    position: absolute;
    transform: translate(50%,100px);
    font-size: 40px;
    color: grey;
    z-index: 2;
}

.fade>div>a>img{
    width: 200px;
    height: 250px;
    margin-left: 20px;
}
.fade>:nth-child(4){
    margin-right: 40px;
}
.click1{
   margin-left: 60px;
}

.slider_inside_cont{
    width: 200px;
    height: 250px;
    margin-left: 50px;  
    display: inline-block;
}
.ptag1{
    text-align: center;
} */
.slide_show{
    width: 72%;
    margin: auto;  
    position: relative;
}
.fade{
    display: flex;
    width: 100%;
    height: 300px;
    overflow: hidden;
    z-index: 0;
}
.fade>div>a>img{
    width: 200px;
    height: 250px;
    margin-left: 20px;
}
.fade>:nth-child(4){
    margin-right: 40px;
}

.prev,.next{
    cursor: pointer;
    position: absolute;
    transform: translate(-60px,100px);
    font-size: 40px;
    color: grey;
    z-index: 2;
}
.next{
    transform: translate(980px,-200px);
}