* {
    margin: 0px;
    padding: 0px;
    font-family: HCoGothamSSmSemiBold, Arial, Sans-Serif;
}

.nav-one img {
    cursor: pointer;
}

.one, .two, .three {
    box-sizing: border-box;
    /* border: 2px solid red; */
    display: flex;
    /* flex-wrap: wrap; */
    height: 40vw;
    overflow: hidden;
    background-color:rgb(250,246,245);
}

.one > div:nth-child(1), .three > div:nth-child(1) {
    margin: auto;
    text-align: center;
}

.one > div:nth-child(1) > p, .one > div:nth-child(1) > h1, .one > div:nth-child(1) > a {
    margin: auto;
}

.three > div:nth-child(1) > p, .three > div:nth-child(1) > h1, .three > div:nth-child(1) > a {
    margin: auto;
}

.one > div, .two > div, .three > div {
    width: 50%;
    /* border: 2px solid red; */
    box-sizing: border-box;
}

.two > div:nth-child(2) {
    width: 45%;
}

.two > div:nth-child(1) {
    overflow: hidden;
}

.two > div:nth-child(2) {
    margin: auto;
}

.one > div > p, .two > div > p, .three > div > p {
    /* font-family: rf_proximaNovaLight; */
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 24px;
}

.one > div > h1, .two > div > h1, .three > div > h1 {
    /* font-family: RFdisplayRegular; */
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 48px;
    font-weight: 200;
}

.one > div > a, .two > div > a, .three > div > a {
    color: #222222;
    /* font-family: "rf_proximaNovaMedium",Helvetica,Arial,sans-serif; */
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: underline;
    cursor: pointer;
}

.one > div:nth-child(2) > img, .two > div:nth-child(1) > img, .three > div:nth-child(2) > img {
    max-width: 100%;
}

.one > div:nth-child(1) > p, .one > div:nth-child(1) > h1, .one > div:nth-child(1) > a {
    width: 45%;
    /* border: 2px solid red; */
}

.two > div:nth-child(2) > p, .two > div:nth-child(2) > h1, .two > div:nth-child(2) > a {
    width: 45%;
    /* border: 2px solid red; */
}

.MYM, .BC {
    margin-top: 4%;
    /* border: 2px solid red; */
    margin-bottom: 2%;
}

.MYM > h2 {
    /* font-family: RFdisplayRegular; */
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 48px;
    font-weight: 200;
    text-align: center;
}

.MYM > p {
    /* font-family: rf_proximaNovaLight; */
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 24px;
    text-align: center;
}

.MYM_flex, .BC_flex {
    display: flex;
    /* border: 2px solid red; */
    box-sizing: border-box;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 4%;
}

.item {
    /* border: 2px solid red; */
    width: 18%;
    box-sizing: border-box;
}

.item_bc {
    /* border: 2px solid red; */
    width: 10%;
    box-sizing: border-box;
}

.BC h2, .CWU h2 {
    text-align: center;
    /* font-family: RFdisplayRegular; */
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 48px;
    font-weight: 200;
}

.CWU {
    margin-bottom: 2%;
}

.item img, .item_bc img {
    max-width: 100%;
}

.item h2, .item p, .item_bc h2, .CWU p, .KIT h2 {
    /* border: 2px solid red; */
    font-weight: 200;
    /* font-family: rf_proximaNovaRegular; */
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 24px;
    text-align: center;
}

.three > div:nth-child(1) > p, .three > div:nth-child(1) > h1, .three > div:nth-child(1) > a {
    width: 45%;
    /* border: 2px solid red; */
}

.click {
    /* border: 2px solid red; */
    text-align: center;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    margin-top: 0.5%;
}

.MRA {
    /* border: 2px solid red; */
    box-sizing: border-box;
    text-align: center;
    padding: 1% 0%;
    /* font-family: RFdisplayRegular; */
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 48px;
    font-weight: 200;
}

.most_recent_articles, .connect_with_us {
    margin: auto;
    display: flex;
    overflow-x: auto;
    /* border: 2px solid red; */
    box-sizing: border-box;
    /* max-height: 66vw; */
    width: 70%;
}

.most_recent_articles::-webkit-scrollbar, .connect_with_us::-webkit-scrollbar {
    width: 0;
}

.most_recent_articles > div {
    margin: 0% 1%;
    overflow: hidden;
    box-sizing: border-box;
    /* border: 2px solid red; */
    min-width: 31.3%;
    height: 30vw;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    margin-bottom: 1%;
}

.connect_with_us > div {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
    min-width: 30%;
    margin: 0% 1%;
    margin-bottom: 1%;
    border-radius: 5px;
}

.connect_with_us {
    justify-content: space-between;
}

.most_recent_articles > div > img {
    max-width: 100%;
    /* max-height: 90%; */
}

.most_recent_articles > div > p, .most_recent_articles > div > a {
    /* border: 2px solid red; */
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.most_recent_articles > div > p > a {
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 24px;
    color: #222222;
    text-decoration: none;
}

.most_recent_articles > div > img + p {
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 24px;
    /* font-family: rf_proximaNovaLight; */
    color: #222222;
}

hr {
    margin-top: 5%;
}

.KIT {
    margin-top: 2%;
    margin-bottom: 2%;
}

.keep_in_touch {
    display: flex;
    /* border: 2px solid red; */
    width: 30%;
    margin: auto;
    justify-content: space-between;
}

.keep_in_touch > div {
    text-align: center;
}

.keep_in_touch a {
    text-decoration: none;
    color: #222222;
}

.item_kit {
    width: 17%;
    /* border: 2px solid red; */
}

.fab {
    font-size: 30px;
    cursor: pointer;
}

.last {
    margin-top: 2%;
    text-align: center;
    /* font-family: rf_proximaNovaLight; */
    font-size: 12px;
    letter-spacing: .5px;
    line-height: 18px;
    margin-bottom: 2.5%;
}

.BC_flex img {
    filter: brightness(0) invert(0.7);
    cursor: pointer;
}

.nav-one {
    /* border: 2px solid red; */
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    box-sizing: border-box;
}

.nav-two {
    display: flex;
    /* flex-wrap: wrap; */
    /* border: 2px solid red; */
    box-sizing: border-box;
    padding-top: 2%;
    padding-bottom: 2%;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255, 0.95);
}

.nav-two > div:nth-child(2) {
    flex-basis: 35%;
}

.nav-two > div:nth-child(4) {
    flex-basis: 13%;
}

.nav-two > div:nth-child(1), .nav-two > div:nth-child(3) {
    flex-grow: 1;
}

.nav-two img {
    max-width: 100%;
}

.nav-two button {
    cursor: pointer;
}

/* search bar ------------------------------------------------------------*/

#myfloat > div {
    float: left;
}

#myfloat > div > input {
    padding-top: 2%;
    padding-bottom: 2%;
}

#myfloat > button {
    float: right;
}

input {
    border-radius: 8px;
    padding-left: 2%;
}

.nav-three {
    display: none;
}

/* media queries ---------------------------------------------------------*/

@media only screen and (max-width: 1500px) {
    .nav-two {
        display: none;
    }

    .nav-three {
        display: block;
        /* border: 2px solid red; */
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .nav-three input {
        width: 90%;
    }

    .nav-three button {
        background-color: white;
        border: 0px solid white;
    }

    .nav-three i {
        font-size: 17px !important;
    }

    .one p, .one a, .two p, .two a, .three p, .three a {
        font-size: 15px !important;
        line-height: normal !important;
        width: 70% !important;
    }

    .one h1, .two h1, .three h1 {
        font-weight: bolder !important;
        font-size: 18px !important;
        line-height: normal !important;
        width: 70% !important;
    }

    .fab {
        font-size: 15px !important;
    }

    .last {
        font-size: 12px !important;
    }

    .MYM_flex, .BC_flex, .connect_with_us {
        margin: auto;
        display: flex;
        overflow-x: auto;
        /* border: 2px solid red; */
        box-sizing: border-box;
        /* max-height: 66vw; */
        width: 70%;
    }
    
    .MYM_flex::-webkit-scrollbar, .BC_flex::-webkit-scrollbar, .connect_with_us::-webkit-scrollbar {
        width: 0;
    }
    
    .MYM_flex > div, .BC_flex > div, .connect_with_us > div {
        margin: 0% 1%;
        overflow: hidden;
        box-sizing: border-box;
        /* border: 2px solid red; */
        min-width: 31.3%;
        height: 30vw;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
        margin-bottom: 1%;
    }

    .connect_with_us img {
        width: 100%;
        height: 100%;
    }

    .MYM_flex h2, .BC_flex h2 {
        font-size: 12px !important;
    }

    .most_recent_articles a {
        display: none;
    }

}

@media only screen and (max-width: 750px) {
    .one p, .one a, .two p, .two a, .three p, .three a {
        font-size: 9px !important;
        line-height: normal !important;
        width: 70% !important;
    }

    .one h1, .two h1, .three h1 {
        font-weight: bolder !important;
        font-size: 13px !important;
        line-height: normal !important;
        width: 70% !important;
    }

    .MYM_flex h2, .BC_flex h2 {
        font-size: 10px !important;
    }

    .most_recent_articles p {
        font-size: 12px !important;
    }

    .last {
        font-size: 8px !important;
    }
}