body {
  font-family: "Poppins", sans-serif;
}
button {
  background-color: white;
  letter-spacing: 2px;
  border: 2px solid gray;
  font-size: 16px;
}
#logo {
  width: 300px;
  margin: auto;
  margin-top: 100px;
}
img {
  width: 100%;
}
#signupform {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 30px;
}
input {
  width: 70%;
  height: 30px;
  margin-left: 15%;
  margin-top: 20px;
}
button {
  width: 72%;
  height: 30px;
  margin-left: 15%;
  margin-top: 20px;
  border: 0.5px solid gray;
  background-color: rgb(224, 224, 224);
  color: rgb(0, 0, 0);
}
button:hover {
  background-color: rgb(54, 54, 54);
  color: white;
  transition: all 0.4s ease 0s;
}
input:hover {
  border: 0.5px solid gray;
  transition: all 0.4s ease 0s;
  background-color: rgb(216, 216, 216);
}
h3 {
  margin-left: 43%;
  margin-top: 30px;
  cursor: pointer;
  color: rgb(70, 70, 70);
}
#loginInfo {
  width: 100px;
  height: 30px;
  display: block;
  margin: auto;
  margin-top: 30px;
}
